<section>
	<form>
		<table align="center">
			<tr>
				<td>Ingreso de usuarios</td>
			</tr>
			<tr>
				<td>Nombre usuario:</td>
				<td><input type="text="" placeholder="Usuario o correo electronico" name=""></td>
			</tr>
			<tr>
				<td>Contraseña:</td>
				<td><input type="password" placeholder="Contraseña" name=""></td>
			</tr>
			<tr>
				<td><input type="submit" name="ok" value="Ingresar"></td>
				<td><a href="#">No tienes una cuenta? Registrate</td>
			</tr>
		</table>
	</form>
</section>