<section style="background-color: rgba(255,255,255,0.7);" >
<body >
	<form id="form1">
		<table align="center" ng-controller="controlpaso"> 
			<tr>
				<td><b><h2 >Ingreso de usuarios</h2></b></td>
			</tr>
			<tr>
				<td><b>Usuario:</b></td>
				<td><input  class="form-control " type="text="" placeholder="Usuario o correo electronico" ng-model="texto"></td>
			</tr>
			<tr>
				<td><b>Contraseña:</b></td>
				<td><input  class="form-control" type="password" placeholder="Contraseña"></td>
			</tr>
			<tr>
				<td><input class="btn btn-info" type="submit" value="Ingresar" ng-click="verificaUsuario()"></td>
				<td><a href="#">No tienes una cuenta? Registrate</a></td>
			</tr>
			<label>{{error}}</label>
		</table>
		
	</form>
	<br></br>
</body>
</section>