 <form action="productosBuscado.jsp" class="navbar-form navbar-left" role="search">
                            <div class="form-group" align="center">
                                <input name="buscar" type="text" class="form-control " placeholder="Buscar tema"/>
                                <button class="btn btn-success  center-block form-control">
                                    <font color="white"><span class="glyphicon glyphicon-search"></span></font></button>
                            </div>
 </form>