
<form method="post" action="" class="">
  <table align="center">
  <h1 align="center"><b>Inicio de sesion</b></h1>
  <tr class="form-group">
    <td ><b>Usuario:</b></td>
    <td><input type="text" name="" placeholder="usuario/correo electronico" class="form-control" size="30"></td>
  </tr>
  <tr>
    <td><b>Contraseña:</b></td>
    <td><input type="password" name="" placeholder="Contraseña" class="form-control"></td>
  </tr>
  <tr>
    <td> </td>
    <td><button type="submit"  class="btn btn-info  center-block">Iniciar Sesion </b></button></td>
  </tr><tr>
    <td></td>
    <td></td>
  </tr>
  </table>
</form>
<br></br>
<form method="post" action="" class="">
  <table align="center">
  <h2 align="center"><b>No tienes cuenta?</b></h2>
  <h2 align="center"><b>Registrate</b></h2>
  <tr class="form-group">
    <td ><b>Nombre:</b></td>
    <td><input type="text" name="" placeholder="usuario/correo electronico" class="form-control" size="30"></td>
  </tr>
  <tr>
    <td><b>Correo:</b></td>
    <td><input type="password" name="" placeholder="Contraseña" class="form-control"></td>
  </tr>
  <tr>
    <td><b>Contraseña:</b></td>
    <td><input type="password" name="" placeholder="Contraseña" class="form-control"></td>
  </tr>
  <tr>
    <td> </td>
    <td><button type="submit"  class="btn btn-success  center-block"><b>Abrir cuenta</b></button></td>
  </tr><tr>
    <td></td>
    <td></td>
  </tr>
  </table>
</form>
